<div class="container">
  <div class="row">
    <h3><%= @customer.name %>さんのページ</h3>
  </div>
  <div class="row">
    <%= image_tag @customer.get_profile_image(100, 100) %>
    <div class="offset-1">
      <h6><%= @customer.name %></h6>
      <h6><%= @customer.introduction %></h6>
    </div>
    <div class="col-2 offset-1">
      <% if customer_signed_in? %>
        <% if current_customer != @customer %>
          <%= render "public/relationships/btn", customer: @customer %>
        <% elsif @customer.name == "guestuser" %>
          <p>会員情報の編集はできません</p>
        <% else %>
          <%= link_to edit_customer_path(@customer), class: "btn btn-outline-secondary col-10" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>
      <% else %>
        <p></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h5>フォロー</h5>
      <%= link_to @customer.followings.count, customer_followings_path(@customer) %>
    </div>
    <div class="col-2 offset-1">
      <h5>フォロワー</h5>
      <%= link_to @customer.followers.count, customer_followers_path(@customer) %>
    </div>
  </div>

  <div class="row">
    <h3>作品一覧</h3>
  </div>
  <div class="row">
    <%= render 'public/items/index', items: @items %>
  </div>
  
  <% if @favorite_list.present? %>
    <div class="row">
      <h3>お気に入り一覧</h3>
    </div>
    <div class="row">
      <% @favorite_list.each do |item| %>
        <div class="col-lg-3 col-md-6">
          <%= link_to(item) do %>
            <div class="card">
              <div class="card-img-top text-center">
                <%= attachment_image_tag item.item_images.first, :image, size: "260x180", format: "jpg" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

