<div class="container">
  <div class="row d-flex justify-content-center">
    <h3>作品情報詳細</h3>
  </div>
  <div class="row d-flex justify-content-center">
    <% @item.item_images.each do |item_image| %>
      <%= link_to item_image.image_url, "data-lightbox": "image-set" do %>
        <div class="mr-1"><%= image_tag item_image.image_url, class: "show-img" %></div>
      <% end %>
    <% end %>
  </div>
  <div class="row d-flex justify-content-center mt-3 mb-3">
    <%= render 'public/items/status', item: @item %>
    <%= link_to '作品情報編集', edit_admin_item_path(@item), class: "btn btn-secondary offset-1" %>
  </div>
  <div class="col-10 offset-2">
    <%= render 'admin/items/data', item: @item, item_tags: @item_tags %>
  </div>
  <div class="row d-flex justify-content-center">
    <%= link_to admin_customer_path(@customer) do %>
      <%= image_tag @item.customer.get_profile_image(60, 60) %>
      <%= @item.customer.name %>
    <% end %>
  </div>
  <div class="offset-3">
    <div class="row">
      <h3>コメント</h3>
    </div>
    <div></div>
    <p id="comment-counts" class="comments-count">コメント数: <%= @item.item_comments.count %></p>
    <div class="row col-10" id="comment-area" class="comments_area">
      <%= render 'public/item_comments/index', item: @item %>
    </div>
  </div>
</div>