<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>会員情報編集</h3>
      <%= form_with model:@customer,  url: admin_customer_path, local:true do |f| %>
        <%= render 'layouts/errors', obj: @customer %>
        <div class="form-group">
          <%= f.label :会員ステータス %>
          <%= f.radio_button :is_deleted, Customer.is_deleteds.key(true) %>
          <%= f.label :is_deleted, Customer.is_deleteds_i18n[:_invalid] %>
          <%= f.radio_button :is_deleted, Customer.is_deleteds.key(false) %>
          <%= f.label :is_deleted, Customer.is_deleteds_i18n[:_valid] %>
        </div>
        <div class="form-group">
          <%= f.submit '変更を保存する', class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
