<div class="container">
  <div class="row">
    <h1>作品一覧</h1>
  </div>
  
  <h3>タグリスト</h3>
  <% @tag_list.each do |list| %>
    <span>
      <%= link_to item.name, tag_items_path(tag_id: list.id) %>
      <%= "#{list.items.count}" %>
    </span>
  <% end %>
  
  <div class="row">
    <table class="table">
      <% @items.each do |item| %>
        <tr><td><%= item.title %></td></tr>
        <tr><td><%= item.body %></td></tr>
        <tr>
          <td>
            <% item.item_images.each do |item_image| %>
              <%= attachment_image_tag item_image, :image, size: "130x100", format: "jpg" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
