<h1>public/items/show</h1>

<% @item.item_images.each do |item_image| %>
  <%= attachment_image_tag item_image, :image, size: "130x100", format: "jpg" %>
<% end %>

<%= @item.title %>
<%= @item.body %>

<% @item_tags.each do |list| %>
  <span>
    <%= link_to list.name, tag_items_path(tag_id: list.id) %>
    <%= "#{list.items.count}" %>
  </span>
<% end %>

<%= image_tag @item.customer.get_profile_image(100, 100) %>
<%= @item.customer.name %>

<% if current_customer != @customer %>
  <%= render "public/relationships/btn", customer: @customer %>
<% else %>
  <%= link_to 'Edit', edit_item_path(@item), class: "btn btn-success" %>
  <%= link_to 'Destroy', item_path(@item), method: :delete, data: {confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
<% end %>