<div class="container">
  <div class="row justify-content-center">
    <%= render 'public/items/status', item: @item %>
  </div>
  <div class="row justify-content-center">
    <% @item.item_images.each do |item_image| %>
      <%# 画像のポップアップ機能の記述。item.imageモデルのimageのurlを指定。image-setにより、複数の画像に対応 %>
      <%= link_to item_image.image_url, "data-lightbox": "image-set" do %>
        <div class="mr-1"><%= image_tag item_image.image_url, class: "show-img" %></div>
      <% end %>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-6 text-right">
      <b><%= @item.title %></b>
    </div>
    <div class="col-6 justify-content-center">
      <span class="favorites_buttons_<%= @item.id %>">
        <%= render 'public/favorites/btn', item: @item %>
      </span>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= @item.body %>
  </div>
  <div class="row justify-content-center">
    <% @item_tags.each do |list| %>
      <span>
        #<%= link_to list.name, tag_items_path(tag_id: list.id) %>
      </span>
    <% end %>
  </div>
  <div class="row offset-4 mt-4">
    <div class="col-2">
      <%= link_to customer_path(@customer) do %>
        <%= image_tag @item.customer.get_profile_image(60, 60) %>
        <%= @item.customer.name %>
      <% end %>
    </div>
    <% if customer_signed_in? %>
      <div class="col-3 offset-2">
        <% if current_customer != @customer %>
          <%= render "public/relationships/btn", customer: @customer %>
        <% else %>
          <%= link_to '作品情報編集', edit_item_path(@item), class: "btn btn-secondary" %>
        <% end %>
      </div>
    <% else %>
      <div class="col-5">
        <p class="text-danger">フォロー、コメント、お気に入りは<br>ログイン後に行えます</p>
        <%= link_to new_customer_session_path class: 'btn btn-default' do %>
          <b>ログインはこちら</b>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row offset-3 mt-4">
    <h5>コメント</h5>
  </div>
  <div class="row justify-content-center">
    <% if customer_signed_in? %>
      <div class="new_comment">
        <%= form_with model: [@item, @item_comment], local: false do |f| %>
          <%= f.text_area :comment, size: "70x4", placeholder: "コメントは200文字以内" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row offset-3">
    <p id="comment-counts" class="comments-count">コメント数: <%= @item.item_comments.count %></p>
  </div>
  <div class="row justify-content-center">
    <div id="comment-area" class="comments_area">
      <%= render 'public/item_comments/index', item: @item %>
    </div>
  </div>
</div>

